<a href="">Link</a>

<!-- <h3 [style.color]="color">Movies List</h3>        Style binding -->
<!-- <h3 [style.color]="headingColor">Welcome</h3      dynamic binding >
<button (click)="changeColor()">Click Me</button> -->

<!-- <h1 *ngIf="status; else elseBlock">this is heading</h1>
<ng-template #elseBlock>
     <h1>Else Statement</h1>
</ng-template> -->

<!-- Another Way to define if-else -->
<!-- <div *ngIf="msg === 'morning'; else afternoon else evening else night">
     <h1>Good Morning</h1>
</div>

<ng-template #afternoon>
     <h1>Good Afternoon</h1>
</ng-template>

<ng-template #evening>
     <h1>Good Evening</h1>
</ng-template>

<ng-template #night>
     <h1>Good Night</h1>
</ng-template>

<ng-template #anotherElse>
     <h1>Another Else Statement</h1>
</ng-template> -->

<!-- Switch Case -->

<!-- <div [ngSwitch]="week">
     <h1 *ngSwitchCase="1">Monday</h1>
     <h1 *ngSwitchCase="2">Tuesday</h1>
     <h1 *ngSwitchCase="3">Wednesday</h1>
     <h1 *ngSwitchCase="4">Thursday</h1>
     <h1 *ngSwitchCase="5">Friday</h1>
     <h1 *ngSwitchCase="6">Saturday</h1>
     <h1 *ngSwitchCase="7">Sunday</h1>
     <h1 *ngSwitchDefault="">default</h1>
</div> -->

<!-- For loop -->
<!-- <ol *ngFor="let i of numbers">
     <ul>{{i}}</ul>
</ol> -->


<!-- <div> -->
     <!-- <h1>Employee Details</h1> -->
     <!-- <table>
          <thead>
               <th>Name</th>
               <th>Salary</th>
          </thead>
          <tr *ngFor="let j of arr">
               <td>
                    {{j.name}}
               </td>
               <td>
                    {{j.salary}}
               </td>
          </tr>
     </table>
</div>
 -->




















