.image-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 20px;
}

img {
     height: 150px;
     width: 200px;
     margin-bottom: 10px;
}

h3{
     margin: 25px;
}