<div class="chore-list">
     <h3>Chore List</h3>
     <ul class="movie-chore-list">
          <li class="movie-chore-list-item">Watch the movie</li>
          <li class="movie-chore-list-item">Prepare popcorn</li>
          <li class="movie-chore-list-item">Enjoy the magic!</li>
     </ul>
     <ul class="movie-chore-list">
          <li class="movie-chore-list-item">Watch the movie</li>
          <li class="movie-chore-list-item">Prepare butterbeer</li>
          <li class="movie-chore-list-item">Experience the adventure!</li>
     </ul>
     <ul class="movie-chore-list">
          <li class="movie-chore-list-item">Watch the movie</li>
          <li class="movie-chore-list-item">Wear wizard robes</li>
          <li class="movie-chore-list-item">Journey to Hogwarts!</li>
     </ul>
</div>